@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');

* {
  font-family: Roboto, sans-serif;
}

.header {
  margin: 0;
  background-color: #1F2937;
  display: flex;
  flex-direction: column;
  padding: 0 100px;
}

.topcontainer,
.secondcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  flex-wrap: wrap;
}

ul {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 40px;
  list-style-type: none;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #E5E7EB;
}

.left, 
.right {
  display: flex;
  align-items: center;
  gap: 16px;
}

h1 {
  font-family: 'Mr Dafoe', cursive;
  font-size: 46px;
  color: #F9FAF8;
}

.header img {
  height: auto;
  width: 400px;
}

.info {
  width: 300px;
}
.info h2 {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: bolder;
}

.info p {
  font-size: 12px;
  color:#E5E7EB;
}

button {
  padding: 4px 22px;
  background-color: rosybrown;
  color: #E5E7EB;
  border: 1px solid rosybrown;
  border-radius: 8px;
}

.secondcontainer {
  margin-bottom: 100px;
  justify-content: center;
  gap: 200px;
}
